body {
  background-color: bisque;
  background-image: url('./assets/webpack.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

body > * {
  flex: 1 1 auto;
}

.main-cont {
  overflow-y: scroll;
}

li {
  list-style: none;
  padding-left: 1rem;
}

.nav-items {
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  color: #fff;
  height: 5rem;
}

.nav-links {
  margin-left: 2rem;
  justify-content: space-between;
  width: 10rem;
}

.header {
  justify-content: space-between;
  align-items: center;
  background-color: #313132;
  padding: 0 2rem;
}

.Img {
  width: 5%;
}
