body {
  display: flex;
  flex-direction: column;
}

.main-cont {
  min-height: 78vh;
}

.d-flex {
  display: flex;
}

body > * {
  flex: 1 1 auto;
}

footer {
  background-color: #f5f5f7;
  color: #6e6e73;
  border: 1px solid #d2d2d7;
  font-family: sans-serif, "Arial";
  padding: 10px;
}

.main-cont {
  overflow-y: scroll;
}

li {
  list-style: none;
  padding-left: 1rem;
}

.nav-items {
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  color: #fff;
  height: 5rem;
}

.nav-links {
  margin-left: 2rem;
  justify-content: space-between;
  width: 10rem;
}

.header {
  justify-content: space-between;
  align-items: center;
  background-color: #313132;
  padding: 0 2rem;
}

.Img {
  width: 5%;
}
